<!DOCTYPE html>
<html>
<head>
	<title>Sample Site - Administration</title>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.1.1/vuetify.css">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<style>



</style>

</head>
<body style="margin-top: 0;">

<div id="app">
  <v-app id="inspire">



  <v-navigation-drawer fixed app value="true" clipped v-model="drawer">


        <v-list>
          <v-list-group
            v-for="item in items"
            v-model="item.active"
            :key="item.title"
            :prepend-icon="item.action"
            no-action
          >
            <v-list-tile slot="activator">
              <v-list-tile-content>
                <v-list-tile-title>${ item.title }</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>

            <v-list-tile
              v-for="subItem in item.items"
              :key="subItem.title"
              @click=""
            >
              <v-list-tile-content>
                <v-list-tile-title>${ subItem.title }</v-list-tile-title>
              </v-list-tile-content>

              <v-list-tile-action>
                <v-icon>${ subItem.action }</v-icon>
              </v-list-tile-action>
            </v-list-tile>
          </v-list-group>
        </v-list>


<!--
    <v-list>

      <v-list-tile>
        <v-list-tile-action>
          <v-icon>home</v-icon>
        </v-list-tile-action>
        <v-list-tile-title>Home</v-list-tile-title>
      </v-list-tile>

      <v-list-group prepend-icon="account_circle" value="true">

        <v-list-tile slot="activator">
          <v-list-tile-title>Modules</v-list-tile-title>
        </v-list-tile>

        <v-list-group no-action sub-group value="true">
          <v-list-tile>
            <v-list-tile-title>Module 1</v-list-tile-title>
          </v-list-tile>
          <v-list-tile>
            <v-list-tile-title>Module 2</v-list-tile-title>
          </v-list-tile>
        </v-list-group>

      </v-list-group>

      <v-list-group prepend-icon="account_circle" value="true">
        <v-list-tile slot="activator">
          <v-list-tile-title>Users</v-list-tile-title>
        </v-list-tile>

        <v-list-group no-action sub-group value="true">

          <v-list-tile slot="activator">
            <v-list-tile-title>Parent</v-list-tile-title>
          </v-list-tile>

          <v-list-tile @click="">
            <v-list-tile-title>Child1</v-list-tile-title>
          </v-list-tile>

          <v-list-tile @click="">
            <v-list-tile-title>Child2</v-list-tile-title>
          </v-list-tile>

        </v-list-group>

        <v-list-group no-action sub-group value="true">

          <v-list-tile slot="activator">
            <v-list-tile-title>Parent2</v-list-tile-title>
          </v-list-tile>

          <v-list-tile @click="">
            <v-list-tile-title>Child12</v-list-tile-title>
          </v-list-tile>

          <v-list-tile @click="">
            <v-list-tile-title>Child22</v-list-tile-title>
          </v-list-tile>

        </v-list-group>

-->

<!--
        <v-list-group
          sub-group
          no-action
        >
          <v-list-tile slot="activator">
            <v-list-tile-title>Actions</v-list-tile-title>
          </v-list-tile>

          <v-list-tile
            v-for="(crud, i) in cruds"
            :key="i"
            @click=""
          >
            <v-list-tile-title v-text="crud[0]"></v-list-tile-title>
            <v-list-tile-action>
              <v-icon v-text="crud[1]"></v-icon>
            </v-list-tile-action>
          </v-list-tile>
        </v-list-group>
-->

      <!-- </v-list-group> -->
    <!-- </v-list> -->


  </v-navigation-drawer>


    <!--
    <v-navigation-drawer
      :clipped="$vuetify.breakpoint.lgAndUp"
      v-model="drawer"
      fixed
      app
    >
      <v-list dense>
      -->

        <!--
        <template v-for="item in items">
          <v-layout
            v-if="item.heading"
            :key="item.heading"
            row
            align-center
          >
            <v-flex xs6>
              <v-subheader v-if="item.heading">
                ${ item.heading }
              </v-subheader>
            </v-flex>
            <v-flex xs6 class="text-xs-center">
              <a href="#!" class="body-2 black--text">EDIT</a>
            </v-flex>
          </v-layout>
          <v-list-group
            v-else-if="item.children"
            v-model="item.model"
            :key="item.text"
            :prepend-icon="item.model ? item.icon : item['icon-alt']"
            append-icon=""
          >
            <v-list-tile slot="activator">
              <v-list-tile-content>
                <v-list-tile-title>
                  ${ item.text }
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile
              v-for="(child, i) in item.children"
              :key="i"
              @click=""
            >
              <v-list-tile-action v-if="child.icon">
                <v-icon>${ child.icon }</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  ${ child.text }
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list-group>

          <v-list-tile v-else :key="item.text" @click="">
            <v-list-tile-action>
              <v-icon>${ item.icon }</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>
                ${ item.text } TEXTHERE
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

        </template>
        -->

<!--
          <v-list-tile @click="screen='test'">
            <v-list-tile-action><v-icon>contacts</v-icon></v-list-tile-action>
            <v-list-tile-content><v-list-tile-title>Modules</v-list-tile-title></v-list-tile-content>
          </v-list-tile>

          <v-list-tile @click="screen='test'">
            <v-list-tile-action><v-icon>contacts</v-icon></v-list-tile-action>
            <v-list-tile-content><v-list-tile-title>Pages</v-list-tile-title></v-list-tile-content>
          </v-list-tile>
-->

<!--
      </v-list>
    </v-navigation-drawer>
-->

<!-- :clipped-left="$vuetify.breakpoint.lgAndUp" -->
    <v-toolbar
      clipped-left
      color="blue darken-3"
      dark
      app
      fixed
    >
      <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <span class="hidden-sm-and-down">Sample Site Admin</span>
      </v-toolbar-title>

<!--       <v-text-field
        flat
        solo-inverted
        hide-details
        prepend-inner-icon="search"
        label="Search"
        class="hidden-sm-and-down"
      ></v-text-field>
 -->      


<!--
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>apps</v-icon>
      </v-btn>
      <v-btn icon>
        <v-icon>notifications</v-icon>
      </v-btn>
      <v-btn icon large>
        <v-avatar size="32px" tile>
          <img
            src="https://cdn.vuetifyjs.com/images/logos/logo.svg"
            alt="Vuetify"
          >
        </v-avatar>
      </v-btn>
-->

    </v-toolbar>
    <v-content>


<!--       <v-container fluid>
    <v-layout row wrap>
      <v-flex xs12>

        <v-card>
          <v-card-text class="px-0">
            
            <h1>Welcome to Caverun</h1>

            <div>Get started by selecting an existing application
            or generating a new one.</div>

          </v-card-text>
        </v-card>

      </v-flex>
    </v-layout>
  </v-container>
 -->

      <!-- <v-container fluid fill-height> -->
      <v-container fluid>
        <!-- <v-layout justify-center align-left> -->
        <v-layout align-left>



    <v-flex xs12 >
      <v-card>
<!--         <v-img
          src="https://cdn.vuetifyjs.com/images/cards/desert.jpg"
          aspect-ratio="2.75"
        ></v-img>
 -->
        <v-card-title>

<!--           <div>
            <h3 class="headline mb-0">Kangaroo Valley Safari</h3>
            <div>Located two hours south of Sydney in the <br>Southern Highlands of New South Wales, ...</div>
          </div>
 -->

  <!-- <v-form > -->

    <v-text-field label="Testing"></v-text-field>

  <!-- </v-form> -->


        </v-card-title>



        <v-card-actions>
          <v-btn flat color="orange">Share</v-btn>
          <v-btn flat color="orange">Explore</v-btn>
        </v-card-actions>

      </v-card>
    </v-flex>


          <!-- Testing123 -->


<!--           <v-tooltip right>
            <v-btn
              slot="activator"
              :href="source"
              icon
              large
              target="_blank"
            >
              <v-icon large>code</v-icon>
            </v-btn>
            <span>Source</span>
          </v-tooltip>
          <v-tooltip right>
            <v-btn slot="activator" icon large href="https://codepen.io/johnjleider/pen/EQOYVV" target="_blank">
              <v-icon large>mdi-codepen</v-icon>
            </v-btn>
            <span>Codepen</span>
          </v-tooltip>
 -->

        </v-layout>
      </v-container>
    </v-content>

<!--     <v-btn
      fab
      bottom
      right
      color="pink"
      dark
      fixed
      @click="dialog = !dialog"
    >
      <v-icon>add</v-icon>
    </v-btn>
 -->    
    <v-dialog v-model="dialog" width="800px">
      <v-card>
        <v-card-title
          class="grey lighten-4 py-4 title"
        >
          Create contact
        </v-card-title>
        <v-container grid-list-sm class="pa-4">
          <v-layout row wrap>
            <v-flex xs12 align-center justify-space-between>
              <v-layout align-center>
                <v-avatar size="40px" class="mr-3">
                  <img
                    src="//ssl.gstatic.com/s2/oz/images/sge/grey_silhouette.png"
                    alt=""
                  >
                </v-avatar>
                <v-text-field
                  placeholder="Name"
                ></v-text-field>
              </v-layout>
            </v-flex>
            <v-flex xs6>
              <v-text-field
                prepend-icon="business"
                placeholder="Company"
              ></v-text-field>
            </v-flex>
            <v-flex xs6>
              <v-text-field
                placeholder="Job title"
              ></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-text-field
                prepend-icon="mail"
                placeholder="Email"
              ></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-text-field
                type="tel"
                prepend-icon="phone"
                placeholder="(000) 000 - 0000"
                mask="phone"
              ></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-text-field
                prepend-icon="notes"
                placeholder="Notes"
              ></v-text-field>
            </v-flex>
          </v-layout>
        </v-container>
        <v-card-actions>
          <v-btn flat color="primary">More</v-btn>
          <v-spacer></v-spacer>
          <v-btn flat color="primary" @click="dialog = false">Cancel</v-btn>
          <v-btn flat @click="dialog = false">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-app>
</div>

<script src="https://unpkg.com/vue@2.5.16/dist/vue.js" type="text/javascript"></script>
<script src="https://unpkg.com/vue-router@3.0.1/dist/vue-router.js"></script>
<script src="https://unpkg.com/vuex@3.0.1/dist/vuex.js"></script>
<script src="https://unpkg.com/vuetify@1.1.5/dist/vuetify.min.js" type="text/javascript"></script>


<script>

let vm = new Vue({
    delimiters: ['${', '}'],
    el: "#app",
    data: () => ({

      screen: '',

      // menus: {
      //   admins: [
      //     ['Management', 'people_outline'],
      //     ['Settings', 'settings']
      //   ],
      //   cruds: [
      //     ['Create', 'add'],
      //     ['Read', 'insert_drive_file'],
      //     ['Update', 'update'],
      //     ['Delete', 'delete']
      //   ]
      // }


      items: [

          {
            action: 'people',
            title: 'Users & Access',
            items: [
              { title: 'Settings' }, // A way to configure if you can publicly create accounts, and if so what role(s) or group(s) they should posses
              { title: 'Users' },
              { title: 'Groups' },
              { title: 'Roles' },
              { title: 'Permissions' },
              { title: 'ACLs?' },
            ]
          },

          {
            action: 'pages',
            title: 'CMS',
            // active: true,
            items: [
              { title: 'Pages' },
              { title: 'Views' },
              { title: 'Menus' },
              { title: 'Regions' },
              { title: 'Media' },
              { title: 'Themes' },
              // other plugins would probably go here, like:
              { title: 'Forms' },
              { title: 'SEO' },
            ]
          },

          {
            action: 'computer',
            title: 'Server',
            items: [
              { title: 'Status' },
              { title: 'Logs' },
              { title: 'Cron' },
            ]
          },

          {
            action: 'storage',
            title: 'Database',
            items: [
              { title: 'Status' },
              { title: 'SQL Console' },
              { title: 'Import' },
              { title: 'Export' },
              { title: 'Migrations' },
              { title: 'Backups' },
              { title: 'Sharding' },
            ]
          },

          {
            action: 'search',
            title: 'Search',
            items: [
              { title: 'Status' },
              { title: 'Settings' },
            ]
          },

        ],

      dialog: false,
      drawer: null,
      // items: [
      //   { icon: 'contacts', text: 'Contacts' },
      //   { icon: 'history', text: 'Frequently contacted' },
      //   { icon: 'content_copy', text: 'Duplicates' },
      //   {
      //     icon: 'keyboard_arrow_up',
      //     'icon-alt': 'keyboard_arrow_down',
      //     text: 'Labels',
      //     model: true,
      //     children: [
      //       { icon: 'add', text: 'Create label' }
      //     ]
      //   },
      //   {
      //     icon: 'keyboard_arrow_up',
      //     'icon-alt': 'keyboard_arrow_down',
      //     text: 'More',
      //     model: false,
      //     children: [
      //       { text: 'Import' },
      //       { text: 'Export' },
      //       { text: 'Print' },
      //       { text: 'Undo changes' },
      //       { text: 'Other contacts' }
      //     ]
      //   },
      //   { icon: 'settings', text: 'Settings' },
      //   { icon: 'chat_bubble', text: 'Send feedback' },
      //   { icon: 'help', text: 'Help' },
      //   { icon: 'phonelink', text: 'App downloads' },
      //   { icon: 'keyboard', text: 'Go to the old version' }
      // ]


    }),

    props: {
      source: String
    }
});

</script>



</body>
</html>