
{{define "style+demotheme-footer"}}
<style>
#footer {
	background: #0A0B09;
	color: white;
	padding-top: 20px;
}
</style>
{{end}}

<div id="footer" class="container">

	<div class="row">
		<div class="col-sm-2 left-part">&nbsp;</div>
		<div class="col-sm-6 mid-part">
			<h3>ABOUT ME</h3>
			<p>more here
		</div>
		<div class="col-sm-4 right-part">
			<h3>JOIN MY MAILING LIST</h3>
			<p>more here
		</div>
	</div>

</div>
